@import '../../style/vars.css';

.slider{
  position:absolute; top:0; left:0;

  width:100%; height:100%;

  overflow:hidden;
}

.slider ul{
  display:flex; flex-flow:row nowrap; justify-content:flex-start;
  height:100%;

  @apply --stanrdard-transition;

  @media (--lg) {
    justify-content:space-between;
  }
}

.slider ul.noTransition{
  @apply --reset-all-transitions;
}

.slider li{
  flex-grow: 1;

  display:flex; flex-flow:row nowrap; justify-content:center; align-items:center;
  width:100vw;
  font-size:6rem;

  @media (--lg) {
    max-width:calc(100vw - 5rem);
    margin:0 2rem;
  }

  @media (--xl) {
    width:1024px;
  }

  @media (--xxl) {
    max-width:calc(100vw - 17.6rem);
    width:1200px;
  }  
}

.slider .one{
  background:rgba(0, 255, 0, .3);
}

.slider .two{
  background:rgba(0, 255, 0, .6);
}

.slider .three{
  background:rgba(0, 255, 0, .9);
}

.slider button{
  position:absolute; z-index:1; top:50%; left:0;

  margin-top:-3rem;
  width:6rem; height:6rem;

  background:#FFF; border-radius:3rem;
}