@import '../../style/vars.css';

.slider{
  width:100%; height:100%;

  overflow:hidden;
}

.slider ul{
  display:flex; flex-flow:row nowrap; justify-content:flex-start;
  width:calc(100vw * var(--slides-count)); height:100%;

  /*transition:transform .3s ease-out;*/

  @media (--lg) {
    width:calc((100vw - 1rem) * var(--slides-count));
    justify-content:space-between;
  }

  @media (--xl) {
    width:calc((1024px + 4rem) * var(--slides-count));
  }

  @media (--xxl) {
    width:calc((1200px + 4rem) * var(--slides-count));
  }
}

.slider li{
  flex-grow: 1;

  display:flex; flex-flow:row nowrap; justify-content:center; align-items:center;
  width:100vw;
  font-size:6rem;

  @media (--lg) {
    max-width:calc(100vw - 5rem);
    margin:0 2rem;
  }

  @media (--xl) {
    width:1024px;
  }

  @media (--xxl) {
    max-width:calc(100vw - 17.6rem);
    width:1200px;
  }  
}

.slider .one{
  background:rgba(0, 255, 0, .3);
}

.slider .two{
  background:rgba(0, 255, 0, .6);
}

.slider .three{
  background:rgba(0, 255, 0, .9);
}