@import '../../../style/vars.css';

#content{
  position:relative;
  background:var(--light-grey);
}

#content .splash{
  position:relative;
  margin:0 0 1rem -1rem;
  
  width:calc(100% + 2rem); height:40rem;
  background:#a1a1a1;

  @media (--sm) {
    margin:0 0 1.5rem -1.5rem;
    width:calc(100% + 3rem);
  }

  @media (--md) {
    margin:0 0 2rem -2rem;
    width:calc(100% + 4rem); 
    height:50vh;
  }

  @media (--lg) {
    position:absolute; top:0; left:0;
    margin-left:0;
    width:100%; 
    height:50vh;
  }  
}

#content .splash>div{
  position: absolute; top:0; left:0;
}

#content .splash section{
  position: absolute; top:0; left:0;
  display:flex; flex-flow:column nowrap;

  width:100vw; height:100%;
  
  overflow:hidden;

  @media (--lg) {
    padding: 0 2.5rem;
  } 
  
  @media (--xxl) {
    padding:0 8.8rem;
  }
}

#content .splash article{
  flex:1;
  display:flex; flex-flow:row nowrap; justify-content:center; align-items:center;
  
  width:100vw; min-height:100%;
  
  font-size:6rem;
  
  background:rgba(0, 255, 0, .3);

  @media (--lg) {
    width:100%;
  }

  @media (--xl) {
    margin: 0 auto;
    max-width:1024px;
  }

  @media (--xxl) {
    margin: 0 auto;
    max-width:1200px;
  } 
}

#content .listing{
  display:grid;
  grid-template-columns:auto;
  grid-template-row:auto auto;
  gap:1.5rem;

  @media (--lg) {
    grid-template-columns:auto 30rem;
    grid-template-row:auto;
    gap:2.5rem;

    margin-top:calc(50vh + 2.5rem);
  }

  @media (--xl) {
    grid-template-columns:auto 35rem;    
  }

}

#content .main{
  background:#c0c0c0;
}

#content .aside{
  background:#c0c0c0;
}