@import '../../../style/vars.css';

#siteNav{
  position:fixed; z-index:11;
  top:4.4rem; left:0;

  width:100vw; height:calc(100vh - 4.4rem);

  overflow:hidden;

  transform:translate(-100%, 0);
  
  @media (--md) {
    top:5.4rem;
    height:calc(100vh - 5.4rem);
  }

  @media (--lg) {
    position:static;

    width:auto; height:auto;

    background:#e4e4e4;
    overflow:hidden;

    transform:translate(0, 0);
    @apply --reset-all-transitions;
  }  
}

#siteNav ul{
  margin-top:2.2rem;
  line-height:4.4rem;

  @media (--lg) {
    display:flex; flex-flow:row nowrap; justify-content:flex-start;

    margin-top:0;
    line-height:4.2rem;
  }
}

#siteNav li{
  font-size:2rem; font-family:var(--font-family-Anton);
  border-bottom:1px solid #e4e4e4;

  @media (--lg) {
    margin-right:4rem;
    border-bottom:0 none;
  }
}

#siteNav li:last-of-type{  
  border:0 none;

  @media (--lg) {
    margin-right:0;
  }
}